<div class="container" style="margin-top: 35px; margin-bottom: 35px;">
  <h1>Chatrooms</h1>
  <ul>
    <% @chatrooms.each do |chatroom| %>
      <li>
        <%= link_to "#{chatroom.name}", chatroom_path(chatroom) %>
        <% if chatroom.users.any? %>
          <%= chatroom.users.map(&:first_name).join(", ") %>
        <% else %>
          No users
        <% end %>
      </li>
    <% end %>
  </ul>

</div>
