<div class="container">
  <h1 style="text-align: center;">Profile Page</h1>
  <h2>User Information</h2>
  <%# <p>Name: <%=current_user.first_name current_user.last.name%>
  <p>Email: <%=current_user.email%></p>
  <h2>Favorite Destinations</h2>
</div>
