<div class="container" style="margin-top: 35px; margin-bottom: 35px;">

  <h1 style="text-align: center;"><%= "#{current_user.first_name}'s Profile" %></h1>
  <p>Email: <%= @user.email %></p>
  <p>Average rating: </p>
  <p>Reviews: </p>
</div>
