<div class="container">
  <h1>My Buddies</h1>
  <div class="row">
    <div class="col-md-4">
      <h3>Pending Approval</h3>
      <% @pending_approval_matches.each do |match| %>
        <%= render partial: 'match_card', locals: { match: match } %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Awaiting Approval</h3>
      <% @awaiting_approval_matches.each do |match| %>
        <%= render partial: 'match_card', locals: { match: match } %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h3>Confirmed Requests</h3>
      <% @confirmed_matches.each do |match| %>
        <%= render partial: 'match_card', locals: { match: match } %>
      <% end %>
    </div>
  </div>
</div>
