<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-8">
      <div id="destinations">
        <% @destinations.each do |destination| %>
          <h4><%= destination.title %></h4>
          <p><%= destination.synopsis %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>
