.destination-image {
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  margin-top: 40px;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-image:hover {
  transform: translateY(-5px);
}

.destination-city-name {
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
}

#index-background-image {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0.3),
    rgba(0, 0, 0, 0.2)
  ), url('https://www.hardrockhotels.com/all-inclusive/files/6208/Playa-Blanca-Beach-Punta-Cana.jpg');
  background-size: cover;
  color: #ffffff;
  text-shadow: 3px 3px 5px #000000;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}

.index-search-form {
  display: flex;
  width: 100%;
  max-width: 740px;
  background-color: #ffffff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
}
