.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  padding: 0 !important;
  border: 0;
}

.hearted-marker {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: none;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.hide-popup .mapboxgl-popup{
  display: none;
}

.mark-card-category{
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  padding: 0 12px;
}
