.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid #bbbbbb;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
}

.navbar-lewagon .nav-link {
  border-right: 1px solid #dfdede;
}

.navbar-lewagon .name {
  border-right: none;
}
