.navbar-lewagon {
  justify-content: space-between;
  background:#fdfaf7;
  border-bottom: 1px solid #e4e1e1;
  align-items: center;
  height: 80px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}


.navbar-lewagon .nav-link {
  border-right: 1px solid #dfdede;
  font-weight: bold;
}

.navbar-lewagon .name {
  border-right: none;
}

// NAVBAR SEARCH COLLAPSIBLE

.navbar-lewagon .dropdown-toggle-no-caret {
  border-right: 1px solid #dfdede;
  padding: 8px;
  margin-top: 8px;
  margin-left: 8px;
  margin-bottom: 8px;
  color: #7e7c7c;
  text-decoration: none;
}

.dropstart .dropdown-menu {
  padding: 0;
  transform: translateY(7px)
}
