.navbar-lewagon {
  justify-content: space-between;
  background:#fdfaf7;
  border-bottom: 1px solid #e4e1e1;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  height: 50px;
  border-radius: 6px;
  border: 1px solid #cfcfcf;
}


.navbar-lewagon .nav-link {
  border-right: 1px solid #dfdede;
  font-weight: bold;
}

.navbar-lewagon .name {
  border-right: none;
}
