<div class="like-icon mx-2" data-id="<%= destination.id %>">
  <% if user_signed_in? && current_user.favorited?(destination) %>
    <i class="fas fa-heart" style="color: red;"></i>
  <% else %>
    <i class="fas fa-heart"></i>
  <% end %>
</div>
