<div class="container">

  <h1>Destination/show</h1>

  <p><%= "Name: #{@destination.name}" %></p>
  <p><%= "Address: #{@destination.address}" %></p>
  <p><%= "Description: #{@destination.description}" %></p>

  <%= link_to "Back to Destinations", destinations_path %>

</div>
